* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    background-color: #444;
    color: #fff;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 64px 1fr 64px;
    gap: 1rem;
}

body >* {
    padding: 1rem;
    border: 2px solid #bbb;
}

header, footer {
    grid-column: 1 / -1;
}

@media screen and (max-width: 768px) {
    body {
        grid-template-columns: 1fr;
        grid-template-rows: 64px 1fr 1fr 64px;
    }
}